
input[type=radio] {
    display:none; 
    margin:10px;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    margin: 2px;
    padding: 2px 4px;
    height: 20px;
    /* background-color: #ffffff; */
    border: 1px solid #25B6D2;
    border-radius: 0.5em;
    


}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
   background-image: none;
   background-color: #25B6D2;
   color: #fff;
}